#tabla{
    background-color:cornflowerblue;
}
#par  {
    background-color: cadetblue;
}
#imnn{
    width: 300 ; height: 300;
}
#fan {
    background-color: coral;
}
#h{
    background-color: brown;
}
#m {
    background-color: brown;
}